{% extends "base.html" %}
{% load cache %}
{% load thumbnail %}
{% block title %} <title>Посты авторов </title>{% endblock %}
{% block content %}
  {% for post in page_obj %}
    <ul>
      <li>
        {% cache 500 sidebar request.user.username %}
          Автор: 
          <a href="{% url 'posts:profile' post.author.username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author.username }}{% endif %}</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        {% endcache %} 
      </li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>  
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}  
    {% if post.group %}
        <a href="{% url "posts:group_list" post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include "includes/paginator.html" %}  
{% endblock %}