{% extends 'base.html' %}
{% block title %} 
  <title> Записи сообщества </title> {{ group }} 
{% endblock %}
{% block content %}
  <article>
    <h1> {{ group }} </h1>
    <p> {{ group.description|linebreaksbr }} </p>
    {% for post in page_obj %}
      <ul>
        <li>
          Автор:
          <a href="{% url 'posts:profile' post.author.username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author.username }}{% endif %}</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:'d E Y' }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  </article>
{% include 'includes/paginator.html' %}  
{% endblock %}